<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             version="2.1"
             xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
    <persistence-unit name="primary">



        <class>com.flexicore.model.dynamic.DynamicExecution</class>
        <class>com.flexicore.model.dynamic.ExecutionParametersHolder</class>
        <class>com.flexicore.rules.model.Scenario</class>
        <class>com.flexicore.rules.model.ScenarioTrigger</class>
        <class>com.flexicore.rules.model.ScenarioTriggerType</class>
        <class>com.flexicore.rules.model.ScenarioToTrigger</class>
        <class>com.flexicore.rules.model.ScenarioToAction</class>
        <class>com.flexicore.rules.model.ScenarioAction</class>
        <class>com.flexicore.model.FileResource</class>
        <class>com.flexicore.rules.model.ScenarioToDataSource</class>
        <class>com.flexicore.rules.model.DataSource</class>
        <class>com.flexicore.rules.request.ScenarioSavableEventFilter</class>
        <class>com.flexicore.rules.request.ScenarioEventIdFiltering</class>
        <class>com.flexicore.rules.request.ScenarioCreateEvent</class>
        <class>com.flexicore.model.dynamic.ExecutionParametersHolder</class>

        <exclude-unlisted-classes>true</exclude-unlisted-classes>
    </persistence-unit>


</persistence>